langchain
langsmith
openai
chromadb # 用于存储数据
faiss-cpu
nltk
tiktoken
wikipedia # 维基百科
google-search-results # 搜索引擎

# 文档加载器使用
tqdm # 获取进度条
unstructured==0.7.12 # 用于处理文本
jq # 用于处理json
pypdf # 用于处理pdf
pypdfium2 # 用于处理pdf，PyPDFium2LoaderDemo
pymupdf # 用于处理pdf，PyMuPDFLoader
pdfplumber # 用于处理pdf，PDFPlumberLoader